.Info {
  text-align: center;
  justify-content: center;
  font-family: "Saira Condensed", sans-serif;
  color: aliceblue;
  background-image: url("../assets/lp_imgs/Login.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
}
