body {
  background-color: black;
}

.title {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario {
  box-shadow: rgb(10, 10, 10) 2px 1px 1px 1px;
  background-color: rgb(219, 218, 216);
}
.formulario > div {
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.formulario input {
  width: 100%;
  height: 33px;
  margin: 10px auto;
}

.formulario button {
  background: rgb(153, 155, 156);
  cursor: pointer;
  border: thick black 1px;
  margin: 20px auto;
  padding: 1%;
}

.formulario button:hover {
  background-color: goldenrod;
  border: thick black 1px;
}

.sexo {
  display: flex;
}
.sexo > label {
  margin: 5px;
}

.error {
  color: rgb(184, 72, 72);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.general {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

#age {
  width: auto;
}

#height {
  width: auto;
}

#weigth {
  width: auto;
}

.particular {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

#neck {
  width: auto;
}

#waist {
  width: auto;
}

#hip {
  width: auto;
}

.check {
  display: flex;
}

.check > label {
  margin: 5px;
  padding: 10px;
}

.explain {
  width: 100%;
}
